body {
        background-color: azure;
        margin: 0;
        font-family:Arial, Helvetica, sans-serif
}

.topnav {
        overflow: hidden;
        background-color: azure;
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: rgb(0, 168, 247);
      }
      
      .topnav a.active {
        background-color: rgb(0, 0, 0);
        color: white;
      }

img {
        width: 20rem;
        height: 30rem;
        object-fit: cover;
}

.text {
        float: left;
        padding: 6px;
        width: 70%;

}

.header {
        text-align:center;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
}

.container {
        display: flex;
        align-items: center;
        justify-content: center;
}